<!-- Toolbar -->
<mat-toolbar class="toolbar mat-elevation-z4" color="primary">
  <mat-toolbar-row>
    <span class="brand-title">Opencast Workflow Editor</span>
    <span class="action-bar">
      <button mat-stroked-button (click)="openUploadDialog()">Upload</button>
      <button mat-stroked-button (click)="openDownloadDialog()">Download</button>
      <button mat-stroked-button (click)="openSelectDialog()" matBadgePosition="after" matBadgeColor="accent">Select</button>
      <button mat-stroked-button (click)="addNewWorkflow()">New</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" role="main" fxLayout="row" fxFill>
  <div fxFlex="100" fxFill>
    <app-workflow-list></app-workflow-list>
  </div>
</div>

