mat-toolbar {
  --default-height: 50px;
}

mat-toolbar[color="primary"] {
  top: 0;
  position: fixed;
  height: var(--default-height);
  z-index: 100;
}

.content {
  margin-top: 64px;
}

.mat-toolbar {
  .brand-title {
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
  .action-bar {
    .mat-stroked-button {
      margin: 0 8px;
    }
  }
}
