<as-split direction="horizontal" class="workflow-view">
  <as-split-area size="60" style="overflow-x: scroll" class="main-workflow-split">
    <div class="workflow-outer-wrapper">
      <div class="workflow-inner-wrapper">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="workflow-title">
              <div class="action-bar">
                <button mat-icon-button disableRipple class="edit-operation" (click)="editWorkflow()">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div class="workflow-id">{{workflow.id}}</div>
            </mat-card-title>
            <mat-card-subtitle class="workflow-subtitle">{{workflow.description}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div [sortablejs]="workflow.condOperations" [sortablejsOptions]="options" style="min-height: calc(100vh - 160px);">
          <div *ngFor="let  condition of workflow.condOperations; let index = index">
            <app-condition-item
              [includedWorkflowSplit]="false"
              [condition]="condition"
              (workflowIncluded)="includeWorkflow($event)"
              (operationEdited)="editOperation($event)"
              [index]="index"
              [condValue]="''"
              [workflow]="workflow"
            ></app-condition-item>
            <!--<app-operation-item
              [includedWorkflowSplit]="false"
              [operation]="operation"
              (workflowIncluded)="includeWorkflow($event)"
              (operationEdited)="editOperation($event)"
              [index]="index"
              [workflow]="workflow"></app-operation-item>-->
          </div>
        </div>
      </div>
    </div>
  </as-split-area>
  <as-split-area size="20" *ngIf="includedWorkflow" class="included-workflow-split">
    <div class="workflow-outer-wrapper">
      <div class="workflow-inner-wrapper">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="workflow-title">{{includedWorkflow.id}}</mat-card-title>
            <mat-card-subtitle class="workflow-subtitle">{{includedWorkflow.description}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div *ngFor="let condition of includedWorkflow.condOperations; let index = index">
          <app-condition-item
            [includedWorkflowSplit]="true"
            [condition]="condition"
            [index]="index"
            [condValue]="''"
            [workflow]="workflow"
          ></app-condition-item>
          <!--<app-operation-item
            [includedWorkflowSplit]="true"
            [operation]="operation"
            [index]="index"
            [workflow]="workflow"></app-operation-item>-->
        </div>
      </div>
    </div>
    <button mat-mini-fab disableRipple color="accent" class="close-included-workflow" (click)="closeIncludedWorkflow()">
      <mat-icon>close</mat-icon>
    </button>
  </as-split-area>
  <as-split-area size="20" *ngIf="editedOperation || edit" class="edit-operation-split edit-workflow-split">
    <div *ngIf="editedOperation" class="edit-operation-outer-wrapper">
      <div class="edit-operation-inner-wrapper">
        <app-edit-operation [operation]="editedOperation" [workflow]="workflow"></app-edit-operation>
      </div>
      <button mat-mini-fab disableRipple color="accent" class="close-edit-operation" (click)="closeEditOperation()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div *ngIf="edit" class="edit-workflow-outer-wrapper">
      <div class="edit-workflow-inner-wrapper">
        <app-edit-workflow [workflow]="workflow"></app-edit-workflow>
      </div>
      <button mat-mini-fab disableRipple color="accent" class="close-edit-workflow" (click)="closeEditWorkflow()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </as-split-area>
</as-split>
