.main-workflow-split {
  position: relative
}
.main-workflow-split .workflow-outer-wrapper {
  max-height: calc(100vh - 113px);
  min-height: calc(100vh - 113px);
  min-width: 500px;
  overflow-x: scroll !important;
  overflow-y: scroll !important;
}
.main-workflow-split .workflow-inner-wrapper {
  display: inline-block;
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px 20px 50px 50px;
}

.included-workflow-split,
.edit-operation-split,
.edit-workflow-split {
  position: relative;
}

.included-workflow-split .workflow-outer-wrapper,
.edit-operation-split .edit-operation-outer-wrapper,
.edit-workflow-split .edit-workflow-outer-wrapper {
  max-height: calc(100vh - 113px);
  min-height: calc(100vh - 113px);
  overflow-x: scroll !important;
  overflow-y: scroll !important;
}

.included-workflow-split .workflow-inner-wrapper,
.edit-operation-split .edit-operation-inner-wrapper,
.edit-workflow-split .edit-workflow-inner-wrapper {
  display: inline-block;
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px 20px 50px 70px;
}

.included-workflow-split .close-included-workflow,
.edit-operation-split .close-edit-operation,
.edit-workflow-split .close-edit-workflow {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 100;
}

.edit-operation-split .edit-operation-inner-wrapper,
.edit-workflow-split .edit-workflow-inner-wrapper {
  //text-align: center;
  min-width: 600px;
  width: 600px;
  margin: 0 auto;
}

.main-workflow-split .workflow-inner-wrapper .action-bar {
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;

  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    line-height: 30px;
    border-radius: 50%;

    .mat-icon {
      line-height: 20px;
    }
  }

  .material-icons {
    font-size: 20px;
  }
}
