/*.mat-card {
  min-width: 250px;
  margin: 30px auto;
}

.mat-card-content {
  padding: 0px 10px;
  width: 250px;
}*/

.container {
  margin: 30px auto;
  padding: 10px;
}

.container-item {
  position: relative;
  cursor: move;
  width: 200px;
  margin: 30px auto;
  padding: 10px;
}
