<div class="default-operation-list-header">
  <div class="search-default-operations">
    <mat-form-field appearance="standard" class="search-form-field">
      <input matInput type="text" class="form-control"
           [(ngModel)]="searchText"
           name="search"
           placeholder="&#xe8b6;"
           autocomplete="off"
           id="search"/>
    </mat-form-field>
  </div>
  <div [sortablejs]="newDefaultOperations" [sortablejsOptions]="{
    group: {
      name: 'shared',
      pull: 'clone',
      put: false
    },
    sort: false,
    animation: 150
  }" class="new-default-operation">
    <div *ngFor="let newDefaultOperation of newDefaultOperations">
      <div class="container-item">
        <div class="header">
          <div class="title">{{newDefaultOperation.left[0].id}}</div>
          <div class="subtitle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="default-operation-list-wrapper">
  <div [sortablejs]="defaultOperations" [sortablejsOptions]="defaultOpsOptions" class="default-operation-list">
    <div *ngFor="let defaultOperation of defaultOperations | filter:searchText">
      <div class="container-item">
        <div class="header">
          <div class="title">{{defaultOperation.left[0].id}}</div>
          <div class="subtitle">{{defaultOperation.left[0].description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
