/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-header {
  position: fixed !important;
  top: 64px;
  z-index:100;
  background: white;
  width: 100%;
}
.content, .mat-tab-body-wrapper{
  flex-grow: 1;
}
.error-msg {
  white-space: pre;
  color: red;
  font-size: 12px;
  max-height: 100px;
  overflow: scroll;
}
