/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-header {
  z-index:100;
  background: white;
  width: 100%;
}
.content, .mat-tab-body-wrapper{
  flex-grow: 1;
}
.error-msg {
  white-space: pre;
  color: red;
  font-size: 12px;
  max-height: 100px;
  overflow: scroll;
}

mat-sidenav.default-operation-list.mat-drawer, mat-sidenav.default-operation-list.mat-drawer .mat-drawer-inner-container {
  overflow: hidden !important;
}

.main-workflow-split, .included-workflow-split {
  .workflow-inner-wrapper {
    .mat-card-header-text {
      margin: 0;
    }
    .mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-header .mat-card-title {
      margin-bottom: 0;
    }
    .mat-card-header-text, .workflow-title {
      width: 100%;
      &::after {
        content: "";
        clear: both;
        display: table;
      }
    }
    .mat-card-header-text .workflow-id {
      padding: 5px 0;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }
}
