<div *ngIf="operation.if; else elseBlock">
  <div class="container">
    <div class="header">
      <div class="title">
        {{operation.if}}
      </div>
    </div>
    <div class="content">
      <div class="container-item" [ngClass]="{selected : selected}">
        <div class="header">
          <div class="action-bar" *ngIf="!includedWorkflowSplit">
            <button *ngIf="operation.id === 'include'" mat-icon-button disableRipple class="include-operation" (click)="includeOp(operation)">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button disableRipple class="edit-operation" (click)="editOp(index, operation)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="opCount > 1" mat-icon-button disableRipple class="delete-operation" (click)="removeOperation(index, workflow)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          <div class="title">{{operation.id}}</div>
          <div class="subtitle">{{operation.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="container-item" [ngClass]="{selected : selected}">
    <div>
      <div class="action-bar" *ngIf="!includedWorkflowSplit">
        <button *ngIf="operation.id === 'include'" mat-icon-button disableRipple class="open-operation" (click)="includeOp(operation)">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button disableRipple class="edit-operation" (click)="editOp(index, operation)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="opCount > 1" mat-icon-button disableRipple class="delete-operation" (click)="removeOperation(index, workflow)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
      <div class="title">{{operation.id}}</div>
      <div class="subtitle">{{operation.description}}</div>
    </div>
  </div>
</ng-template>
